body {
    background-color: #b8b8bd;
}

.navbar {
    overflow: hidden;
    background-color: #b7bdf1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    right: 0px;
}

.search {
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: x-large;
    font-family: Roboto, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    align-items: center;
}

nav ul li {
    text-align: center;
    padding: 9px;
    display: inline;
    margin-left: auto;
    float: right;
}

h2 {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
}

.navbar h2:hover {
    background: rgb(240, 111, 111);
    color: black;
    border-radius: 20px;
    padding: 5px;
    transition: 500ms;
}

.Evento_1 {
    margin-top: 80px;
    position: absolute;
}

img {
    float: left;
    border-radius: 5%;
}

h3 {
    font-size: 25px;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 16px;
    margin-top: 40px;
}